:root{
    --prim:#DDA7A7;
    --sec:maroon;
    --white:#ffffff;
    --black:#000000;
    --grey:grey;
}

#about{
   text-align: center; 
}

#about hr{
    margin-left:15%;
    margin-right:15%;
}

#about p{
    margin-left:15%;
    margin-right:15%;
}

#about-img{
    width:auto;
    margin-left:15%;
    margin-right:15%;
}

#about-img img{
    width:100%;
}
