:root{
    --prim:#DDA7A7;
    --sec:maroon;
    --white:#ffffff;
    --black:#000000;
    --grey:grey;
}

#nav-items{
    padding-left:0;
    width:100%;
}

#nav-items li{
    background:var(--white);
    list-style-type: none;
    text-align:center;
    border:var(--sec) solid 1px;
    width:auto;
}

#nav-items a{
    text-decoration:none;
    color:var(--sec);
}

@media only screen and (min-width:600px){
    .columns{
        display:flex;
    }
    .one{
        flex:1;
    }
    .hide-big{
        display:none;
    }
}