
:root{
    --prim:#DDA7A7;
    --sec:maroon;
    --white:#ffffff;
    --black:#000000;
    --grey:grey;
}

#toggle-nav{
    background:var(--white);
    border:var(--sec) solid 1px;
    width:40px;
}

#toggle-nav div{
    background:var(--black);
    width:25px;
    height:2px;
    margin:6px 0;
    margin-left:7.5px;
}

@media only screen and (min-width:600px){
    .columns{
        display:flex;
    }
    .one{
        flex:1;
    }
    .hide-big{
        display:none;
    }
}